.layout-aside-devdocument .ant-tree {
  height: 100%;
}
.layout-devdocument-content {
  border: none;
  position: relative;
  width: 100%;
  height: 95%;
  margin: 5px;
}
.layout-return-button {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 97%;
  left: 50%;
  width: 180px;
}

.desc-content {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  max-height: 600px;
  height: 450px;
  overflow-y: auto;
  border: 1px solid gray;
  margin-right: 10px;
  padding: 10px;
}
.desc-content-item{
  line-height: 35px;
}
.ant-layout-content {
  h1 {
    font-weight: bolder;
  }
  position: relative;
  padding: 10px;
  .anticon-loading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}